<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hover.tester"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".actions.ActionDetailActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hover.tester.MainActivity"/>
        </activity>

        <service
            android:name=".network.HoverIntegratonListService"
            android:exported="false">
        </service>

        <provider
            android:name=".database.TesterContentProvider"
            android:authorities="com.hover.tester.provider"
            android:enabled="true"
            android:exported="false">
        </provider>

        <receiver
            android:name=".TransactionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hover.tester.gateway.CONFIRMED_TRANSACTION"/>
                <action android:name="com.hover.tester.CONFIRMED_TRANSACTION"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".schedules.AlarmSchedulerService"
            android:enabled="true"
            android:exported="false">
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c88bf770d6a6d0f067e94234619c1c6e273a54a2"/>
        <meta-data
            android:name="com.hover.ApiKey"
            android:value="b97c1dd86d4d49caaf70c2303f7ede05"/>

        <service
            android:name=".notifications.DeviceInfoService"
            android:exported="false">
        </service>
    </application>

</manifest>