<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <service
            android:name="com.hover.tester.notifications.NotificationReceiverService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.hover.tester.notifications.FirebaseDeviceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.hover.tester.GatewayReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hover.tester.gateway.TRANSACTION_UPDATED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.hover.tester.wake.WakeUpReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <service
            android:name="com.hover.tester.wake.WakeUpService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name="com.hover.tester.wake.GatewayManagerService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="com.hover.tester.report.ReportUpService"
            android:exported="false">
        </service>

        <meta-data
            android:name="com.hover.ApiKey"
            android:value="37742114c194367e94202cfd0c682aa0"
            tools:replace="android:value"/>
    </application>

</manifest>